<!DOCTYPE html>
<html ng-app="pacienteCadastroApp">
<head>
    <title>Cadastro Paciente</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body ng-controller="pacienteCadastroController"> 
    <h2> Cadastro Paciente:</h2>
    <hr>
    <form>
            <label for="nome" >Nome: </label><br />
            <input type="text" id="nome" ng-model="paciente.nome" /> <br />

            <label for="data_nascimento">Data Nascimento</label><br />
            <input type="date" id="data_nascimento" ng-model="paciente.data_ascimento" /> <br />

            <label for="cpf">cpf</label><br />
            <input type="number_format" id="cpf"  
                ng-model="paciente.cpf" /> <br />

            <label for="telefone">telefone</label><br />
            <input type="number_format" id="telefone"  
               pattern="(\([0-9]{2}\))\s([9]{1})?([0-9]{4})-([0-9]{4})"
                -title="Digite o telefone no formato (nn)nnnnn-nnnn"
                ng-model="paciente.telefone" /> <br />

            <br><br>

            <button onclick="savePaciente()">Submit</button>
            <input type="reset" ng-click="resetForm()" value="Reset" />
    </form>

    <script src="scripts/scripts.js"></script>

</body>
</html>